<!DOCTYPE html>
<html lang="en">
    <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>4uhost</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      
    
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
    </head>

    <body>
        
    <mat-toolbar color="primary" class="toolbar">
    <mat-toolbar-row>
      <span>Web Sencilla</span>
      <span class="toolbar-spacer"></span>
      <button mat-icon-button  aria-label="Example icon-button with menu icon">
        <mat-icon >menu</mat-icon>
      </button>
    </mat-toolbar-row>
    </mat-toolbar>

    <br ><br ><br ><br >
    
    
    <h1>Angular Router Sample</h1>
    <nav>
        <a class="button" routerLink="/creatuweb"  routerLinkActive="activebutton"
        ariaCurrentWhenActive="page">Crea tu web</a> |
        <a class="button" routerLink="/contacto"  routerLinkActive="activebutton"
        ariaCurrentWhenActive="page">Contacto</a>
    </nav>
    <router-outlet></router-outlet>
    </body>
</html>