.armaweb-form mat-slide-toggle {
    margin: 8px 0;
    display: block;
}

:host ::ng-deep mat-card{
    color: var(--mdc-theme-text-primary-on-background, rgb(31, 41, 55));
    background: rgba(113, 131, 165, .9); 
    padding: 2em;
    
}

.icon-display {
    transform: scale(0.8);
 }