<form class="armawebform" [formGroup]="armawebform" (ngSubmit)="alertFormValues(armawebform)" ngNativeValidate>

    <div class="mx-auto max-w-7xl px-6 lg:px-8">

        <div class="mx-auto mt-12 max-w-2xl lg:mx-0 lg:max-w-none">
            
            <div class="grid grid-rows-1 grid-flow-col gap-4 text-base font-semibold">
                <div>
                    <mat-card>
                        <mat-card-header>
                            <mat-card-title> Selecciones los componentes</mat-card-title>
                            <mat-card-subtitle>Para su cotización incluya todos los servicios y funciones que necesita para su web</mat-card-subtitle>
                        </mat-card-header>
                    
                        <table class="table-auto">
                            <thead>
                              <tr>
                                <th>Funcionalidad</th>
                                <th>Costo</th>
                                <th>Seleccionar</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let product of products">
                                <td>{{  product.name }}
                                    <mat-icon aria-hidden="false" fontIcon="help" matTooltip="{{ product.descriptionLarga }}" matTooltipPosition = "right" class="icon-display"></mat-icon>
                                </td>
                                <td class="text-right">{{ product.price  | formatoNumeros : 'formatoMoneda'}}</td>
                                <td class="text-center"> 
                                    <mat-slide-toggle [formControlName]="product.id" (change)="sumatotal($event)"></mat-slide-toggle></td>
                              </tr>
                            </tbody>
                          </table>
                       
                            <mat-card-actions align="end">
                                Total {{ this.total  | formatoNumeros : 'formatoMoneda' }}
                            </mat-card-actions>
                    
                    
                    
                    </mat-card>
                </div>
            </div>

            <dl class="mt-16 grid grid-cols-1 gap-8 sm:mt-20 sm:grid-cols-2 lg:grid-cols-4">
                <div class="flex flex-col-reverse">
                    <dt class="text-base leading-7 text-gray-300">
                        Offices worldwide
                    </dt>
                    <dd class="text-2xl font-bold leading-9 tracking-tight text-white">
                        12
                    </dd>
                </div>
                <div class="flex flex-col-reverse">
                    <dt class="text-base leading-7 text-gray-300">
                        Full-time colleagues
                    </dt>
                    <dd class="text-2xl font-bold leading-9 tracking-tight text-white">
                        300+
                    </dd>
                </div>
                <div class="flex flex-col-reverse">
                    <dt class="text-base leading-7 text-gray-300">
                        Hours per week
                    </dt>
                    <dd class="text-2xl font-bold leading-9 tracking-tight text-white">
                        40
                    </dd>
                </div>
                <div class="flex flex-col-reverse">
                    <dt class="text-base leading-7 text-gray-300">
                        Paid time off
                    </dt>
                    <dd class="text-2xl font-bold leading-9 tracking-tight text-white">
                        Unlimited
                    </dd>
                </div>
            </dl>
        </div>
    </div>
</form>