.armaweb-form mat-slide-toggle {
    margin: 8px 0;
    display: block;
}

:host ::ng-deep mat-card{
    color: var(--mdc-theme-text-primary-on-background, rgb(3, 0, 0));
    background-color: #7183a5;
    padding: 2em;
}
