@tailwind base;
@tailwind components;
@tailwind utilities;

@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.mat-drawer {
    background-color: #023075;
    color: #fff;
}
.main-content {
    padding: 20px;
}
.toolbar-spacer {
    flex: 1 1 auto;
}

.toolbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100% !important;
}
